{% extends 'base.html.twig' %}

{% block title %}DNPM | Ajout utilisateur{% endblock %}

{% block body %}
<div class="container">
        <form class="mb-5 mt-3" method="post">
            <div class="row p-3">
                <div class="col-1"></div>
                <div class="col-10 p-5 shadow-lg bg-light">
                    <h1 class="h1 text-success text-center mt-3">Creation de compte utilisateur</h1>
                    {{ form_start(registrationForm) }}

                    {{ form_row(registrationForm.firstName) }}

                    {{ form_row(registrationForm.lastName) }}

                    {{ form_row(registrationForm.position) }}

                    {{ form_row(registrationForm.email) }}

                    {{ form_row(registrationForm.plainPassword) }}

                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn btn-block btn-lg btn-outline-success">Creation de compte</button>
                    {{ form_end(registrationForm) }}
                </div>
                <div class="col-1"></div>
            </div>
        </form>
</div>
{% endblock %}
