<!-- ======= Details Section ======= -->
<section id="details" class="details">
    <div class="container">

        <div class="row content">
            <div class="col-md-4 h-100">
                <img src="{{ first_service.image }}" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-4">
                <h3 class="text-success">{{ first_service.title }}</h3>
                <p class="font-italic text-justify">
                    {{ first_service.description | markdown }}
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-4 order-1 order-md-2">
                <img src="{{ second_service.image }}" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-5 order-2 order-md-1" >
                <h3 class="text-success">{{ second_service.title }}</h3>
                <p class="font-italic">
                   {{ second_service.description | markdown }}
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-4">
                <img src="{{ third_service.image }}" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-5">
                <h3 class="text-success">{{ third_service.title }}</h3>
                <p>
                    {{ third_service.description | markdown}}
                </p>

            </div>
        </div>

        <div class="row content">
            <div class="col-md-4 order-1 order-md-2">
                <img src="{{ fifth_service.image }}" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-5 order-2 order-md-1">
                <h3 class="text-success">{{ fifth_service.title }}</h3>
                <p class="font-italic">
                    {{ fifth_service.description | markdown }}
                </p>
            </div>
        </div>

    </div>
</section><!-- End Details Section -->